body {
  margin: 0;
  overflow: hidden;
}

.scoreStyle {
  color: rgb(30, 255, 30);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica, sans-serif,
    Courier, monospace;
  font-weight: 300;
  font-size: 28px;
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
}
